<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- Main Bean/target Bean -->
	<bean id="student1" class="com.nag.beans.containers.Student" scope="singleton">
		<property name="rollNo" value= "0017" />
		<property name="name" value="King" />
		<property name="date" ref = "dt"/>
	</bean>

	<bean id="student2" class="com.nag.beans.containers.Student" scope="prototype">
		<property name="rollNo" value= "0017" />
		<property name="name" value="King" />
		<property name="date" ref = "dt"/>
	</bean>

	<!-- Dependent Bean -->
	<bean id = "dt" class="java.util.Date"/>
	

</beans>